.margin-sale
{
	margin-bottom: initial;
}

.margin-dis
{
	margin-left: auto; 
	display: -webkit-box;
}

/*input
{
	text-transform: capitalize;
}
*/
.name-user
{
	margin-top: auto;
	margin-bottom: auto; 
	font-size: medium; 
	width: 50%;
}

.code-sale
{
	width: 50%;
	margin-bottom: auto;
	margin-left: 30%;
	margin-top: 2px;
}

.alto
{
	height: 45px;
}

.table-p
{
	margin-left: 40%;
}

.size-td
{
	width: 30%;
}

.size-td-two
{
	width: 70%;
}

.letter-type
{
	font-family: monospace;
	font: xx-large;
}

.letter-type-two
{
	font-family: monospace; 
	font: inherit
}